<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>
<p> Welcome to <%= title %></p>
<form action="">
    <input type="text" placeholder="name" />
    <input type="text" placeholder="password" />
</form>
</body>
</html>